@mixin map-container-style {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $mapZ;
    box-sizing: border-box;

    padding: ($desktopAppDragBarHeight - 5px) 5px 10px;
}

.tile-view {
    #map {
        @include map-container-style;
    }
}

.vertical-filmstrip {
    #map {
        @include map-container-style;
    }
}
